{% extends 'base.html.twig' %}

{% block title %}Candidate index{% endblock %}

{% block body %}
    <h1>Candidate index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Password</th>
                <th>IsVerified</th>
                <th>Gender</th>
                <th>First_name</th>
                <th>Last_name</th>
                <th>Address</th>
                <th>Country</th>
                <th>Nationality</th>
                <th>Passport</th>
                <th>Passport_file</th>
                <th>Cv_file</th>
                <th>Profil_picture</th>
                <th>Current_location</th>
                <th>Date_birth</th>
                <th>Place_birth</th>
                <th>Availability</th>
                <th>Job_category</th>
                <th>Experience</th>
                <th>Short_description</th>
                <th>Notes_candidate</th>
                <th>Created_at</th>
                <th>Updated_at</th>
                <th>Deleted_at</th>
                <th>Files</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for candidate in candidates %}
            <tr>
                <td>{{ candidate.id }}</td>
                <td>{{ candidate.email }}</td>
                <td>{{ candidate.roles ? candidate.roles|json_encode : '' }}</td>
                <td>{{ candidate.password }}</td>
                <td>{{ candidate.isVerified ? 'Yes' : 'No' }}</td>
                <td>{{ candidate.gender }}</td>
                <td>{{ candidate.firstName }}</td>
                <td>{{ candidate.lastName }}</td>
                <td>{{ candidate.address }}</td>
                <td>{{ candidate.country }}</td>
                <td>{{ candidate.nationality }}</td>
                <td>{{ candidate.passport ? 'Yes' : 'No' }}</td>
                <td>{{ candidate.passportFile }}</td>
                <td>{{ candidate.cvFile }}</td>
                <td>{{ candidate.profilPicture }}</td>
                <td>{{ candidate.currentLocation }}</td>
                <td>{{ candidate.dateBirth ? candidate.dateBirth|date('Y-m-d') : '' }}</td>
                <td>{{ candidate.placeBirth }}</td>
                <td>{{ candidate.availability ? 'Yes' : 'No' }}</td>
                <td>{{ candidate.jobCategory }}</td>
                <td>{{ candidate.experience }}</td>
                <td>{{ candidate.shortDescription }}</td>
                <td>{{ candidate.notesCandidate }}</td>
                <td>{{ candidate.createdAt ? candidate.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ candidate.updatedAt ? candidate.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ candidate.deletedAt ? candidate.deletedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ candidate.files }}</td>
                <td>
                    <a href="{{ path('candidate_show', {'id': candidate.id}) }}">show</a>
                    <a href="{{ path('candidate_edit', {'id': candidate.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="28">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('candidate_new') }}">Create new</a>
{% endblock %}
